ConsoleClient/Service References/ServiceReference/ShoppingCart.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShoppingCart" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1195/ShoppingCart.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1195/ShoppingCart.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1195/ShoppingCart.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SFCart" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICart_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="ICart_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICart_RemoveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItem" />
  </wsdl:message>
  <wsdl:message name="ICart_RemoveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICart_ClearItems_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearItems" />
  </wsdl:message>
  <wsdl:message name="ICart_ClearItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICart_GetCartItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItems" />
  </wsdl:message>
  <wsdl:message name="ICart_GetCartItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICart_GetShopItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShopItems" />
  </wsdl:message>
  <wsdl:message name="ICart_GetShopItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShopItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICart_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="ICart_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ICart">
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICart/AddItem" message="tns:ICart_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICart/AddItemResponse" message="tns:ICart_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICart/RemoveItem" message="tns:ICart_RemoveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICart/RemoveItemResponse" message="tns:ICart_RemoveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICart/ClearItems" message="tns:ICart_ClearItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICart/ClearItemsResponse" message="tns:ICart_ClearItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICart/GetCartItems" message="tns:ICart_GetCartItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICart/GetCartItemsResponse" message="tns:ICart_GetCartItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShopItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICart/GetShopItems" message="tns:ICart_GetShopItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICart/GetShopItemsResponse" message="tns:ICart_GetShopItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICart/GetStatus" message="tns:ICart_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICart/GetStatusResponse" message="tns:ICart_GetStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICart" type="tns:ICart">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/ICart/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <soap:operation soapAction="http://tempuri.org/ICart/RemoveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearItems">
      <soap:operation soapAction="http://tempuri.org/ICart/ClearItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <soap:operation soapAction="http://tempuri.org/ICart/GetCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopItems">
      <soap:operation soapAction="http://tempuri.org/ICart/GetShopItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/ICart/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoppingCart">
    <wsdl:port name="BasicHttpBinding_ICart" binding="tns:BasicHttpBinding_ICart">
      <soap:address location="http://localhost:1195/ShoppingCart.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>